
h1{
    color: red;
}
p{
    font-size: 20px;
}
table{
    width: 400px;
}
th{
    background-color: #ddd;
    font-size: 16px;
    font-family: "Arial";
}
th caption{
    text-align: center;
}
td{
    text-align: center;
}
table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;

}